@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #592dec;
  background-image: linear-gradient(19deg, #592dec 0%, #ddd6f3 100%);
}

body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}

body #root {
  width: 100vw;
  height: 100vh;
}